{{ define "main" }}
    <main class="post">

        <div class="post-info">
            {{ if .IsTranslated }}
                {{ i18n "postAvailable" }}
                {{ range .Translations }}
                    <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                {{ end}}
            {{ end }}
            </p>
        </div>

        <article>
        {{ range .Pages }}

            

            {{ if .Params.Cover }}
                <figure class="post-cover">
                    <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" class="circle" style="max-width: 12.5em"/>
                </figure>
            {{ end }}

            <h2 class="post-title" style="text-align: right;">{{ .Title | markdownify }}</h2>

        

            <div class="post-content">
                {{ .Content }}
            </div>
        {{ end }}
        </article>

        <hr />
    </main>
{{ end }}
