/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
  color: green;
  text-decoration: none;
}
  
/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}
  
/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

.my-footer {
    position: fixed;
    bottom: 0;
    /* Height of the footer*/ 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}