{{ define "main" }}
<!-- Main Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 ms-auto mx-auto">
            <img style="width:200px;height:200px;" alt="Responsive image" src="{{ .Site.Params.picture }}">
            <div class="container mt-4" style="font-size: 12px;text-align: right;">
                {{ range .Site.Params.contacts }}
                <p class="mb-1">{{  print . }}</p>
                {{end}}
            </div>
        </div>

        <div class="col-lg-8">{{ .Content }}

        </div>
    </div>
</div>
{{ end }}
