<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body style="font-family: verdana">
        {{ if .IsHome }}
        <div class="container d-flex h-100 mx-auto flex-column">
            {{- partial "header-home.html" . -}}
            {{- block "main" . }}{{- end }}
            {{- partial "footer-home.html" . -}}
        </div>
        {{ else }}
        <div class="container">
            {{- partial "header.html" . -}}
            {{- block "main" . }}{{- end }}
            {{- partial "footer.html" . -}}
        </div>
        {{ end }}
        {{- partial "script.html" . -}}
    </body>
</html>
