<div class="container mt-3 mb-auto">
    <div class="d-flex mb-3">
        {{ range .Site.Menus.main }}
        {{ if in .Name "Home" }}
        <div class="p-2">
            <a href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
            </a>
        </div>
        {{ end }}
        {{ end }}
        <div class="p-2 ms-auto">
            {{ range .Site.Menus.main }}
            {{ if in .Name "Home" }}
            {{ else }}
            <a class="ps-2" href="{{ .URL }}">
                {{ $text := print .Name }}
                {{ $text }}
            </a>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>